* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(26, 26, 26);
  color: rgb(222, 222, 222);
  text-align: center;
}

h1 {
  text-decoration: underline;
}

th,
td {
  padding: 10px 10px;
  border: 2px solid rgb(85, 85, 85);
}

h1,
th {
  color: rgb(2, 255, 136);
}

p {
  color: rgb(255, 204, 1);
  font-weight: bold;
}

.footnote {
  text-align: left;
  color: rgb(152, 152, 152);
}

table {
  margin: 0 auto;
  border: 3px solid rgb(2, 255, 136);
  border-collapse: collapse;
}

tr td:nth-child(1) {
  color: rgb(255, 149, 0);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgb(45, 45, 45);
}

tr:nth-child(odd) {
  background-color: rgb(51, 51, 51);
}
