* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2,
h3 {
  color: steelblue;
  border-bottom: 2px solid;
}

hr {
  border: none;
  height: 2px;
  background-color: gray;
}

strong {
  color: purple;
}

em {
  color: green;
}
