* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(60, 80, 100);
}

body {
  background-color: rgb(245, 247, 250);
}

h1 {
  text-align: center;
}

form {
  background-color: rgb(255, 255, 255);
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 1px 2px rgb(234, 236, 239);
  width: 60%;
  margin: 0 auto;
}

fieldset {
  border-radius: 7px;
  border: 2px solid rgb(41, 128, 185);
  margin-block: 30px;
  background-color: rgb(236, 240, 241);
  padding-top: 10px;
  /* padding-bottom: 0; */
}

legend {
  background-color: rgb(253, 254, 254);
  font-weight: bold;
  padding: 4px;
}

label,
p {
  font-weight: bold;
}
h1,
legend {
  color: rgb(41, 128, 185);
}

.name-container {
  margin-top: 5px;
}

.email-container {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  padding: 5px;
  border: 2px solid rgb(189, 195, 199);
  border-radius: 2px;
}

input[type="text"],
input[type="email"],
::placeholder,
select {
  font-weight: normal;
}

textarea::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  font-weight: bold;
  padding: 3px;
}

textarea {
  margin-bottom: 20px;
}

input[type="submit"],
input[type="reset"] {
  margin-bottom: 10px;
  padding-inline: 20px;
  padding-block: 6px;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

input[type="submit"] {
  background-color: rgb(37, 175, 96);
}

input[type="reset"] {
  margin-left: 8px;
  background-color: rgb(231, 75, 60);
}
