body {
  width: 95%;
  margin: auto;
  background-color: darksalmon;
}

.title {
  text-align: center;
  text-decoration: underline;
}
/* .context-container > * {
  display: inline-block;
} */

.context-container {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.ingredients,
.directions {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.ingredients ul,
.directions ol,
.toast-text {
  text-align: left;
  margin: 0 auto;
  padding-left: 20px;
}

.toast-text {
  text-decoration: underline;
  font-weight: bold;
}

ul ol {
  padding-left: 30px;
}

li {
  margin-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50;
  height: 50%;
  border-radius: 10px;
}
