table {
  border-collapse: collapse;
  border: 1px solid rgb(158, 158, 158);
}

.table-heading th {
  background-color: lightgray;
}

td {
  padding-inline: 10px;
}

tr {
  border-top: 1px solid rgb(158, 158, 158);
}

td:not(td:nth-child(2)) {
  text-align: center;
}

td:nth-child(2),
td:nth-child(8) {
  font-weight: bold;
}

td:nth-child(n + 1) {
  background-color: lightgreen;
}
