#container {
  display: inline-block;
  background-color: gray;
  box-shadow: 3px 3px 5px black;
}

.box {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1.5px solid black;
}

#first {
  background-color: seagreen;
}

#second {
  background-color: chocolate;
}

.button {
  padding: 3px 5px;
  background-color: rgb(81, 192, 129);
  border: 2px solid rgb(46, 139, 87);
}
