h1 {
    color:seagreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color:salmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color:steelblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}